body {
	font-family: Helvetica;
	width: 50em;
    margin-top: 5em;
    margin-left: auto;
    margin-right: auto;

    padding-right: 1em;
    padding-left: 5em;
    padding-top: 1em;
    padding-bottom: 1em;

    border-style: none;
    border-right-width: 5px;
    border-left-width: 5px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-color: rgb(0%, 90%, 90%);
}

#title {
    font-size: 1.5em;
}

.text {
    padding-right: 0em;
    padding-left: 0.7em;
    padding-top: 0em;
    padding-bottom: 0em;

    border-style: dashed;
    border-right-width: 0px;
    border-left-width: 1px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-color: rgb(70%, 70%, 70%);
}

a:link {
	color: rgb(0%, 50%, 50%);
	text-decoration: none;
}

a:visited {
	color: rgb(0%, 50%, 50%);
	text-decoration: none;
}

a:hover {
	color: rgb(0%, 30%, 50%);
	text-decoration: none;
}

a:active {
	color: rgb(0%, 30%, 50%);
	text-decoration: none;
}
